* {
margin: 0;
padding: 0;
}
body{
	background-image:url("naslovna_siroka51.jpg");
	background-position:center;
	margin:0;
	padding:0;

}
#mainWrapper
{
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	/*text-decoration:none;*/
	
}
#header{
	
	border-radius:0px;
	background-image: url("headerNav.jpg");
	background-position: center;
	height:300px;
	padding:10px;
	color:#0bd3d4;
}
#naslov{
	width:500px;
	color:#0bd3d4;
	float:left;
}
#flags{
	float:right;
	width:130px;
	margin-right:40px;
	margin-top:40px;
}
#nav{
	
	clear:both;
	width:500px;
	margin:0 auto;
	margin-top:270px;
	/*display:inline-block;*/
	
	
}
#nav a{
	text-decoration:none;
	color:#0bd3d4;
	text-shadow: black 1px 2px;
}
#nav a:hover{
	text-decoration:none;
	color:#ec0498;
	
}

h1,h2 {
	color:#ec0498; /*pink boja*/
}
#wrap{
	height:100%;
	overflow:hidden;
	/*border-right:1px solid gray;
	border-left:1px solid gray;
	margin-top:5px;*/
	font-size:18px;
	background-color: #161630;  /* slika sal table*/
	
}
#mainContent0{
	width:890px;
	float:right;
	background-color: #161630;  /* slika sal table*/
	background-position: center;
	text-align:center;
	color:#315ce7;
	
	padding:0 5px 0 5px;
	

}
#mainContent0 a{
	color:#0bd3d4;
	text-decoration:none;
}
#mainContent{
	background-color: #161630;
	background-position: center;
	color:#315ce7;
	text-align:right;
	/*color: #0bd3d4;*/
	/*color:#ec0498;*/
	padding:0px;

	overflow:hidden;
}
#mainContent a{
	color:#0bd3d4;
	text-decoration:none;
}
#mainContent a:hover{
	color:#ec0498;
	
}
#mainContent ul{
	padding:15px;
}

#mainContent1 a{
	color:#0bd3d4;
	text-decoration:none;
	
}
#mainContent1 a:hover{
	text-decoration:underline;
}
#mainContent2{
	background-image: #161630;
	background-position: center;
	color:#ec0498;
	
}
#Content{
	/*margin-left: 300px;*/ /* Same as the width of the sidenav */
	padding: 0px 10px;
	width:880px;
	float:right;
	
	
}
/*#sidebar {
  padding-bottom:100000px;
  margin-bottom:-100000px;
  
  position: relative;
  z-index: 1;
  top: 0%;
  left: 0%;
  
  overflow-x: hidden;
  
  float:left;
  
  

}*/
#sidebar {
	float:left;
	width: 300px;
	background-color: #f375c9;
	
	/*height:500px;*/
	padding-bottom:100000px;
	margin-bottom:-100000px;
	padding-right:0px;
	padding-left:0px;
	color:#0bd3d4;
    
	padding-top: 0px;
	/*background-image: linear-gradient(#2529d2, #db729d);*/
	
}
#sidebar a{
	color:#0bd3d4;
	text-decoration:none;
}
#sidebar a:hover{
	color:#ec0498;
}
#dugmici {
	margin:0 5px 0 5px;
}
#dugmici button{
	background-color:black;
	color:white;
	font-size:9px;
	padding:2px;
	
}
#saltabla{
	background-image: url("saltabla.jpg"); max-width:1200px; height:250px; background-repeat: no-repeat;
	margin:0 auto;
}
iframe {

border: 15px solid maroon;

border-radius: 50px;

}
#footer{
	min-height:120px;
	background-image: url("kopija-obradjena.jpg");
	background-position: center;
	color:#0bd3d4;
	/*clear:both;*/
	text-align:center;
	/*text-decoration:none;*/
	padding:40px;
	clear:right;
	
	
}
#footer a{
	text-decoration:none;
	font-size:20px;
	color:#0bd3d4;
}
#footer a:hover{
	color:#ec0498;
	
}